/Asterisk.NET.Test/obj
/Asterisk.NET.Test/bin
/DanSaul.SharedCode/obj
/DanSaul.SharedCode/bin
/DanSaul.SharedCode.Asterisk/obj
/DanSaul.SharedCode.Asterisk/bin
/DanSaul.SharedCode.Calendar/obj
/DanSaul.SharedCode.Calendar/bin
/DanSaul.SharedCode.DatabaseSchemas/obj
/DanSaul.SharedCode.DatabaseSchemas/bin
/DanSaul.SharedCode.Extensions/obj
/DanSaul.SharedCode.Extensions/bin
/DanSaul.SharedCode.Extensions.AmazonS3/obj
/DanSaul.SharedCode.Extensions.AmazonS3/bin
/DanSaul.SharedCode.Extensions.JsonDotNet/obj
/DanSaul.SharedCode.Extensions.JsonDotNet/bin
/DanSaul.SharedCode.Extensions.SharpPCap/obj
/DanSaul.SharedCode.Extensions.SharpPCap/bin
/DanSaul.SharedCode.Linode/obj
/DanSaul.SharedCode.Linode/bin
/DanSaul.SharedCode.NodaTime/obj
/DanSaul.SharedCode.NodaTime/bin
/DanSaul.SharedCode.Npgsql/obj
/DanSaul.SharedCode.Npgsql/bin
/DanSaul.SharedCode.SignalR/obj
/DanSaul.SharedCode.SignalR/bin
/DanSaul.SharedCode.StandardizedEnvironmentVariables/obj
/DanSaul.SharedCode.StandardizedEnvironmentVariables/bin
/SharedCode.ARI/obj
/SharedCode.ARI/bin
